<div class="row">
    <div class="col-md-4">
        <div class="card-body">
            <form #facturaForm=ngForm (ngSubmit)="nuevoFactura(facturaForm)">
                <input type="hidden" name="_id" [(ngModel)]="facturaService.selectedFactura._id">
                <div class="form-group">
                    <input type="text" class="form-control" name="cliente" placeholder="Cliente" [(ngModel)]="facturaService.selectedFactura.cliente">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="factura" placeholder="Factura" [(ngModel)]="facturaService.selectedFactura.factura">
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" name="fecha" placeholder="Fecha" [(ngModel)]="facturaService.selectedFactura.fecha">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="base" placeholder="Base" [(ngModel)]="facturaService.selectedFactura.base">
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" name="iva" placeholder="IVA" [(ngModel)]="facturaService.selectedFactura.iva">
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" name="total" placeholder="Total" [(ngModel)]="facturaService.selectedFactura.total">
                </div>
                <button class="btn btn-danger mr-2" (click)='resetForm(facturaForm)'>Descartar</button>
                <button class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table -table-stripped">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Factura</th>
                    <th>Fecha</th>
                    <th>Base</th>
                    <th>IVA</th>
                    <th>Total</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let factura of facturaService.facturas">
                    <td>{{factura.cliente}}</td>
                    <td>{{factura.factura}}</td>
                    <td>{{factura.fecha | date: 'd/M/yy'}}</td>
                    <td>{{factura.base | number: '1.2-2'}}</td>
                    <td>{{factura.iva | number: '1.2-2'}}</td>
                    <td>{{factura.total | number: '1.2-2'}}</td>
                    <td>
                        <button class="btn btn-secondary btn-sm" (click)='editFactura(factura)'><i class="material-icons">edit</i></button>
                        <button class="btn btn-danger btn-sm" (click)="deleteFactura(factura._id)"><i class="material-icons">delete</i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>