<!-- <nav class="navbar navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" routerLink="prevision">Prevision de pagos</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="proveedores">Facturas proveedores</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="facturacion">Facturas clientes</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="presupuestos">Presupuestos</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="clientes">Clientes</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="coches">Coches</a></li>
        </ul>
    </div>
</nav> -->



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="prevision">Prevision de pagos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="proveedores">Facturas proveedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="facturas">Facturas clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="coches">Coches</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
<!-- <div class="container p-4">
    <app-coche></app-coche>
</div> -->